*.txt
*.pdf
*.csv
*.xlsx
*.pyc
__pycache__/wordscraper.cpython-37.pyc
modules/__pycache__/convertpdfs.cpython-37.pyc
modules/__pycache__/extractsentences.cpython-37.pyc
modules/__pycache__/wordcounter.cpython-37.pyc
