*.txt
*.pdf
*.csv
*.xlsx
*.pyc
__pycache__/wordscraper.cpython-37.pyc
modules/__pycache__/convertpdfs.cpython-37.pyc
modules/__pycache__/extractsentences.cpython-37.pyc
modules/__pycache__/wordcounter.cpython-37.pyc
rough.py
*.docx
run_from_here.py
run_from_here.py
rough_2.py
modules/__pycache__/
run_from_here.py
*.ipynb
!readme.txt
tempCodeRunnerFile.py

